/**
 * COmanage Registry Responsive Style Sheet
 *
 * Portions licensed to the University Corporation for Advanced Internet
 * Development, Inc. ("UCAID") under one or more contributor license agreements.
 * See the NOTICE file distributed with this work for additional information
 * regarding copyright ownership.
 *
 * UCAID licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @link          https://www.internet2.edu/comanage COmanage Project
 * @package       registry
 * @since         COmanage Match v1.0.0
 * @license       Apache License, Version 2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */

/* Reponsive breakpoints for the COmanage theme are set to 360, 480, 600, 840, 960, 1280, 1440, and 1600dp.
   This is a mobile-first theme.  General and 320 mobile portrait styles are in co-base.css */


/* PHONE LANDSCAPE */
/**************************************************************************************************************/
/* Small phones in landscape mode  */
@media only screen and (min-width: 480px) {

}

/* SMALL */
/**************************************************************************************************************/
/* Very small devices (tablets, landscape phones 576px and up) */
@media only screen and (min-width: 576px) {
  h1 {
    font-size: 2.6em;
  }
  h2 {
    font-size: 2em;
    line-height: 2em;
  }
  #logout {
    display: block;
    color: var(--cmg-color-white);
  }
  #top-menu {
    right: 15px;
  }
  #top-menu .top-menu-link-text {
    display: inline;
  }
  #user-panel {
    min-width: 400px;
    max-width: unset;
  }
  #user-panel-user-info {
    border-top: none;
    margin: 0 80px 0 0;
    padding-top: 0;
  }
  #logout-in-panel {
    position: absolute;
    top: 0;
    right: 0;
  }
  #siteTitle {
    min-height: 46px;
    font-size: 2.4em;
    line-height: 1.6em;
  }
  #logo {
    width: auto;
    right: 2em;
    margin-top: 8px;
  }
  ul.form-list .field-name {
    display: inline-block;
    min-width: 80px;
    vertical-align: middle;
    width: 30%;
    padding-left: 0.5em;
  }
  ul.form-list .field-info {
    display: inline-block;
    width: 70%;
  }
  ul.form-list-admin .field-name {
    width: 50%;
    padding-right: 1em;
  }
  ul.form-list-admin .field-info {
    width: 40%;
  }
  ul.form-list li {
    display: flex;
    column-gap: 1em;
  }
  ul.form-list li.field-stack textarea {
    margin: 0.5em 0 0.5em 0.5em;
  }
  /* PAGINATION */
  #pagination {
    text-align: left;
    min-height: 2.5em;
  }
  #pagination .paginationCounter {
    float: right;
  }
  #pagination.with-pagination-elements .paginationCounter {
    margin-top: 2px;
  }
  /* DATE / TIME PICKER */
  .duet-date__dialog {
    left: -20em;
  }
}

/* MEDIUM - Primary breakpoint */
/**************************************************************************************************************/
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* CONTENT LAYOUT */
  #main-wrapper {
    display: flex;
    min-height: calc(100vh - 112px);
  }
  #main {
    flex-basis: 100%;
    padding-bottom: 66px; /* offset for footer logo height */
  }
  #navigation-drawer {
    position: static;
    display: block;
    top: unset;
    z-index: unset;
  }
  /* menu drawer half-closed styles */
  #navigation-drawer.half-closed {
    width: 52px;
    min-width: 0;
    transition: width 0.1s ease;
  }
  #main.drawer-half-closed {
    transition: margin 0.1s ease;
  }
  #navigation-drawer.half-closed .menu-title,
  #navigation-drawer.half-closed .arrow {
    display: none;
  }
  /* HEADER */
  #banner {
    position: relative;
    z-index: 8;
  }
  #top-menu {
    z-index: 30;
  }
  body.title-hidden #top-menu a.topMenu {
    color: #222;
  }
  /* GENERAL */
  .two-col {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
  }
  .three-col {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
  }
  /* Call to Action Blocks */
  .call-to-action-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
  }
  .call-to-action {
    margin-bottom: 0;
  }
  /* TOP SEARCH */
  .top-filters-fields-subgroups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    padding: 0 0.5em;
  }
  .top-search-checkboxes {
    padding: 0 0.5em;
  }
  #top-filters-submit.tss-rebalance {
    margin-top: -3.5em;
    position: relative;
  }
  .top-search-date-label {
    padding: 0 0.5em;
  }
  /* CO CONFIGURATION DASHBOARD */
  #configuration-menu {
    column-count: 3;
    column-gap: 1em;
    margin-bottom: 4em;
  }
  /* RECONCILE TABLE */
  #reconcile-table {
    font-size: 1em;
  }
  /* INDEX ACTION COMMAND MENUS */
  /* convert the dropdown menus to be visible on wider screens */
  .field-actions .action-menu-toggle {
    display: none;
  }
  .field-actions .dropdown-menu {
    position: static;
    display: inline-block;
    font-size: 0.9em;
    border: none;
    background-color: transparent;
    white-space: nowrap;
  }
  .field-actions .action-list-item {
    display: inline-block;
  }
  .field-actions a.dropdown-item {
    padding: 0 0.5em;
  }
  #main .field-actions a.dropdown-item:hover {
    color: var(--cmg-color-blue-001);
    text-decoration: underline;
  }
  .field-actions a.dropdown-item:hover {
    background-color: transparent;
  }
  th.actions {
    width: 100px; /* this is pushed wider by the nowrap on .field-actions .dropdown-menu */
    padding-left: 1.5em;
    text-align: left;
  }
  td.actions {
    text-align: left;
  }
  /* EDIT / VIEW ACTION TOP MENU */
  .field-actions.top-links {
    align-self: end;
  }
  .field-actions.top-links .dropdown-menu {
    min-width: 0;
  }
  /* FOOTER */
  #co-footer {
    position: static;
    float: right;
    padding: 0;
    margin-top: -72px;
    transform: unset;
  }
  .poweredByComanage {
    display: inline-block;
    padding: 1em 2em 2em 0;
  }
  body.logged-out #co-footer {
    position: fixed;
    float: none;
    right: 0;
    bottom: 0;
    margin: 0;
    left: unset;
    transform: unset;
  }
}

/* LARGE */
/**************************************************************************************************************/
/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* DATE / TIME PICKER */
  .cm-time-picker-panel {
    right: -100%;
    display: flex;
  }
  .cm-time-picker-vals ul {
    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(2, 40px);
  }
  .cm-time-picker-minutes .cm-time-picker-vals ul {
    grid-template-columns: repeat(2,40px);
    grid-template-rows: repeat(2,40px);
  }
}

/* EXTRA LARGE */
/**************************************************************************************************************/
/* Extra large devices (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
